body, html {
    padding: 20px;
    -webkit-app-region: drag;
}
button,input,a,text,div {
    -webkit-app-region: no-drag;
}

.min,
.max,
.close {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: fixed;
    right: 6px;
    text-indent: -10000px;
    top: 6px;
    width: 24px;
    z-index: 1;

    -webkit-app-region: no-drag;
}

.min {
    background: transparent url('../static/min.png') no-repeat 4px 4px;
    background-size: 20px 20px;
    right: 70px;
}
.max {
    background: transparent url('../static/max.png') no-repeat 4px 4px;
    background-size: 20px 20px;
    right: 38px;
}

.close {
    background: transparent url('../static/close.png') no-repeat 4px 4px;
    background-size: 20px 20px;
    right: 6px;
}